{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select id="symbol" name="symbol" type = "text">
                <option value="none" selected disabled hidden>Select an Option</option>
                {% for stock in stocks %}

                <option value = "{{stock.stock}}">{{stock.stock}}</option>
                {% endfor %}

        </div>
        <br>
        <div class="mb-3">
            <input autocomplete="off" id="shares" name="shares" placeholder="Share" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}